.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 48px;
}

.form__fields {
    display: flex;
    flex-direction: column;
    gap: 29px;
    width: 100%;
}

.form__fields-input {
    width: 100%;
    max-width: 358px;
    height: 27px;
    border: none;
    border-bottom: 2px solid #c2c2c2;
    outline: none;
}

.form__submit {
    width: 100%;
    max-width: 358px;
    height: 50px;
    border: none;
    border-radius: 2px;
    background-color: black;
    color: white;
    outline: none;
}

@media screen and (max-width: 320px) {
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form__fields {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    .form__fields-input {
        width: 100%;
        max-width: 238px;
        height: 30px;
        border: none;
        border-bottom: 1px solid #c2c2c2;
        outline: none;
    }
}

